name: Python App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Test Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.10.5", "3.10.11", "3.10.14", "3.10.19", "3.11", "3.11.3", "3.11.8", "3.11.11", "3.11.14", "3.12", "3.12.4", "3.12.10", "3.12.11", "3.12.12", "3.13", "3.13.2", "3.13.5", "3.13.8", "3.13.11", "3.14", "3.14.1", "3.14.2"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then
            echo ""
            echo "=== Python: Install requirements from file ==="
            pip install -r requirements.txt
          else
            echo ""
            echo "=== Python: Install default dependencies ==="
            pip install flake8 pylint pytest coverage
          fi

      - name: Set up environment
        run: ./script/setup-dev.bash

      - name: Run PyLint
        run: ./script/qa-pylint.bash

      - name: Run Flake8
        run: ./script/qa-flake8.bash

      - name: Run PyTest
        run: ./script/qa-pytest.bash

      - name: Run Coverage
        run: ./script/qa-coverage.bash
